
<div class="Calendar">
    <h1 class="TitleCalendar">Agendamentos</h1>
    <div class="CalendarBody">
    
    <ng-container *ngFor="let item of mes">
        
        <div class="CalendarItem" *ngIf="item.idClient !== 0;else blanckDiv">
            <span class="dayWeek">{{diasDaSemanaAbreviados[item.dayWeek]}}</span>
                <span class="day">{{item.day}}</span>     
        </div>
        <ng-template #blanckDiv>
            <div class="CalendarItem">
                <span class="dayWeek">{{diasDaSemanaAbreviados[item.dayWeek]}}</span>
                <span class="day hidden">xx</span>
              
            </div>
        </ng-template>    
    
     </ng-container>

    </div>
</div>

