<footer class="footerNav">
    <nav class="menu">
      <a href=""> <img class="imgNav" src="../../../assets/img/calendario.png" alt="calendario" /></a>
      <a href="insumos"> <img class="imgNav" src="../../../assets/img/estoque.png" alt="estoque" /></a>
      <a href=""> <img class="logoNav" src="../../../assets/img/lua-nova.png" alt="logo" /></a>
      <a href=""> <img class="imgNav" src="../../../assets/img/cadastro.png" alt="contato" /></a>
      <a href=""> <img class="imgNav" src="../../../assets/img/digitando.png" alt="faleConosco"></a>
    </nav>
</footer>
